
body, html {margin:0;
padding:0;
height: 100%;
width: 100%;}
#top_banner {background-color:#00274c;
			 color:#ffcb05;
			 text-align:center;
			 font-size:300%;
			 
			 }
			 
#links_banner{border-style:double;
			 border-width:1 px;
			 border-color: black;}

a.main:link {
    text-decoration: none;
}

a.main:visited {
    text-decoration: none;
}

a.main:hover {
    text-decoration: none;
}

a.main:active {
    text-decoration: none;
}
#links_banner ul {
	display: inline-block;
	text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#links_banner ul li {
	display: table-cell;
	width:1%;
	
}
#left_menu{
		   border-style:dotted;
		   border-width:0.5 px;
		   border-color: black;
		   width: 10%;
		   position:relative;
		   height:87%;
		   float: left;
		   
			}
			
#bottom_banner {background-color:#00274c;
			 color:#ffcb05;
			 text-align:center;
			 font-size:100%;
			
			 position: absolute;
			 bottom: 0;
			 height:30px;
			 width: 100%;
			 
			 
			 }